body{
    background-color: rgb(32, 31, 31);
    color: blanchedalmond;
}

.container {
    /* only using below line , grid display will not work */
    display: grid; 
    /* no. of auto that we write tells browser to keep that no. of 
       columns with equal width. for example below case we are 
       creating 3 column and remaining column will go to below rows.
    */
    grid-template-columns: auto auto auto;
}

.item {
    margin: 5px auto;
    background-color: rgb(212, 67, 152);
    height: 200px;
    width: 200px;
    border: 2px solid black;
}